
*{
  box-sizing: border-box;   /* box sizing property cannot be inherited.Therefore, applying it in
                                body won't help.star selector is used to select every element.*/
 
 margin: 0;       /* This is to override the default setting of browser(user agent stylesheet)*/
 padding: 0;

}

body{
  background-color: black;
}

#top{
  width: 50px;                  /* pixel is absolute whereas em is relative */
  height: 50px;
  margin: 5px;

}

/*
h1{
font-size: .8em;
padding: 0px;
margin-left: 0px;

}
*/
.header {

width: auto;
display: flex;                          /* display flex is used to place all the div elements
                                           in header horizontally */
background-color: #808080;
}

.img{

width: 20%;


}

.title{

width: 50%;
margin-left: 20px;
font-size: 10px;
margin-top: 20px;

}

.list{

width: 50%;



}




ul {
    float:right;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    
}

li {
    float: left;

}

li a {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    text-decoration: none;

}

li a:hover {
    background-color:white;
    color: black;
}

#mid{                    /* Here ID selector is used instead of writing img element
                         directly because we need to differentiate between different images.*/

  
  width: 100%;
  height: 250px;

}
.middle{

  position: relative;      /* To position text in an image- container should be relative whereas 
                              text should be absolute*/
}

h2{
  position: absolute;
  color: white;
  top: 40px;
  left: 200px;
  font-family: cursive;

}
label{
  color: grey;
}